<table>
    <tr>
        <th>№</th>
        <th>ФИО студента</th>
        <th *ngFor="let lesson of lessons">{{lesson.dateLesson}}/{{lesson.theme}}</th>
        <th>Средний балл</th>
        <th>Округленный балл</th>
    </tr>
    <tr *ngFor="let student of marks; let r=index">
        <td>{{student.idStudent}}</td>
        <td>{{getFIOStudent(student.idStudent)}}</td>
        <td *ngFor="let item of student.studentMarks; let d=index"> 
            <select #markSelect (change)="selectMark(r,d,markSelect.value)">
                <option *ngFor="let sm of marksSelect; let i=index"  [value]="sm">{{sm}}</option>
            </select>
        </td>
        <td> {{ student.avgMark }}</td>
        <td> {{ student.roundedMark }}</td>
    </tr>
</table>
<pre>{{marks | json}}</pre>

